 body {
   margin:auto;
   text-align: center;
   width:90%;
  
   border :solid 2px yellow;
  
   color:orange;
 }

 #photos {
    width:90%; 
    margin: auto;
   padding: 2rem;;
   display:flex;
   flex-direction:row;
   flex-wrap: wrap;
   justify-content: space-around;
 }

div {
  margin:1rem;
  padding:1rem;
  width: 350px;

  border: 2px solid blue; 
}
div img {
  width : 100%;
  
}
button{
  margin: 2rem;

}